.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 937px;
}

.u-section-1 .u-shape-1 {
  width: 753px;
  height: 354px;
  background-image: none;
  margin: 537px -64px 0 auto;
}

.u-section-1 .u-image-1 {
  height: 502px;
  object-position: 12.19% 50%;
  margin-top: -766px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 91px -60px 0 455px;
}

.u-section-1 .u-shape-2 {
  width: 387px;
  height: 302px;
  margin: -681px auto 0 68px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: -177px 712px 60px 94px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 429px;
    height: 284px;
    margin-top: 622px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -732px;
    margin-right: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 355px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 606px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 452px;
    height: 261px;
    margin-top: 1509px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1049px;
    margin-right: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 245px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 386px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    height: 177px;
    width: 381px;
    margin-top: 1458px;
    margin-right: 44px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -969px;
    margin-right: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 146px;
    margin-left: 155px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 206px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-top: 1523px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -984px;
    margin-right: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 91px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 995px;
}

.u-section-2 .u-shape-1 {
  width: 359px;
  height: 772px;
  margin: 32px auto 0 609px;
}

.u-section-2 .u-image-1 {
  width: 687px;
  height: 215px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -720px -63px 0 auto;
}

.u-section-2 .u-group-1 {
  min-height: 293px;
  width: 407px;
  margin: 313px 37px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-style: normal;
  margin: 0;
}

.u-section-2 .u-image-2 {
  min-height: 405px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/unnamed.gif");
  background-position: 50% 50%;
  width: 570px;
  margin: -353px auto 0 88px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 32px 30px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 16px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  line-height: 48px;
  font-weight: normal;
  margin: -889px 703px 0 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: -166px 172px 0 609px;
}

.u-section-2 .u-shape-2 {
  width: 205px;
  height: 193px;
  margin: -114px 70px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    width: 334px;
    height: 667px;
    margin-top: 70px;
    margin-right: 83px;
    margin-left: 581px;
  }

  .u-section-2 .u-image-1 {
    width: 523px;
    height: 473px;
    margin-top: -600px;
  }

  .u-section-2 .u-group-1 {
    width: 352px;
    margin-top: -56px;
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-2 .u-image-2 {
    min-height: 362px;
    width: 470px;
    margin-top: -367px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -604px;
    margin-right: 533px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 72px;
    margin-left: 509px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    width: 287px;
    height: 613px;
    margin-top: 1109px;
    margin-right: 129px;
    margin-left: 361px;
  }

  .u-section-2 .u-image-1 {
    width: 618px;
    margin-top: -562px;
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -142px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 313px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 361px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 1139px;
    margin-left: 181px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 413px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -82px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 133px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 181px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-2 .u-shape-1 {
    width: 234px;
    margin-top: 1145px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 260px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 403px;
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-image-1 {
  min-height: 520px;
  background-image: url("images/pastedimage0.png");
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    min-height: 429px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 247px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 156px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 630px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 753px);
  height: 630px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 984px;
  height: 474px;
  margin: -630px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-group-1 {
  width: 413px;
  min-height: 432px;
  background-image: none;
  margin: -474px calc(((100% - 1140px) / 2)) 198px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 30px 25px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 72px 2px 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 609px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 753px);
  }

  .u-section-4 .u-image-1 {
    width: 726px;
    height: 614px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 402px;
    margin-top: -453px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 503px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 470px);
  }

  .u-section-4 .u-image-1 {
    width: 586px;
    height: 534px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-group-1 {
    width: 360px;
    margin-top: -347px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 416px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 470px);
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 493px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-group-1 {
    margin-top: -260px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 320px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 352px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    width: 298px;
    margin-top: -164px;
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1160px;
}

.u-section-5 .u-shape-1 {
  width: 323px;
  height: 278px;
  margin: 488px auto 0 218px;
}

.u-section-5 .u-image-1 {
  width: 659px;
  height: 389px;
  margin: -549px 187px 0 auto;
}

.u-section-5 .u-shape-2 {
  width: 321px;
  height: 279px;
  margin: -577px auto 0 112px;
}

.u-section-5 .u-text-1 {
  margin: -178px 775px 0 196px;
}

.u-section-5 .u-shape-3 {
  width: 374px;
  height: 289px;
  margin: 611px auto 0 373px;
}

.u-section-5 .u-shape-4 {
  width: 351px;
  height: 291px;
  margin: -412px 775px 0 auto;
}

.u-section-5 .u-shape-5 {
  width: 374px;
  height: 281px;
  margin: -290px 13px 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: -217px 775px 0 14px;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  width: 351px;
  margin: 13px auto 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  margin: -260px 24px 0 764px;
}

.u-section-5 .u-shape-6 {
  width: 250px;
  height: 250px;
  margin: -930px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-top: -521px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -576px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 639px;
    margin-left: 96px;
  }

  .u-section-5 .u-shape-4 {
    margin-right: 589px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 589px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 589px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    margin-right: 61px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 489px;
    margin-left: 0;
  }

  .u-section-5 .u-shape-3 {
    margin-left: 346px;
  }

  .u-section-5 .u-shape-4 {
    margin-right: 369px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 369px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 369px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1090px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 217px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 319px;
    margin-right: 0;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -506px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 367px;
  }

  .u-section-5 .u-shape-3 {
    margin-left: 166px;
  }

  .u-section-5 .u-shape-4 {
    margin-right: 189px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 189px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 189px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 17px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 201px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -388px;
    margin-left: 19px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 231px;
  }

  .u-section-5 .u-shape-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-shape-4 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-shape-5 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1465px;
}

.u-section-6 .u-shape-1 {
  width: 334px;
  height: 296px;
  margin: 35px 372px 0 auto;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: -208px 361px 0 422px;
}

.u-section-6 .u-shape-2 {
  width: 415px;
  height: 268px;
  background-image: none;
  margin: 94px 14px 0 auto;
}

.u-section-6 .u-shape-3 {
  width: 335px;
  height: 270px;
  background-image: none;
  margin: -83px auto 0;
}

.u-section-6 .u-shape-4 {
  width: 570px;
  height: 228px;
  margin: -422px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: -237px 40px 0 748px;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  margin: -123px 570px 0 0;
}

.u-section-6 .u-shape-5 {
  width: 112px;
  height: 28px;
  margin: 29px 160px 0 auto;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  width: 352px;
  margin: 27px auto 0;
}

.u-section-6 .u-shape-6 {
  width: 785px;
  height: 78px;
  margin: 23px auto 0;
}

.u-section-6 .u-image-1 {
  width: 791px;
  height: 470px;
  margin: 37px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    margin-top: 5px;
    margin-right: 151px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 100px;
    margin-left: 683px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: 448px;
  }

  .u-section-6 .u-shape-3 {
    margin-top: -927px;
    margin-right: 100px;
  }

  .u-section-6 .u-shape-4 {
    height: 198px;
    width: 562px;
    margin-top: 23px;
    margin-left: 108px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -240px;
    margin-right: 679px;
    margin-left: 109px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 12px;
    margin-right: 670px;
    margin-left: 100px;
  }

  .u-section-6 .u-shape-5 {
    width: 111px;
    margin-top: -127px;
    margin-left: 329px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -425px;
    margin-right: 109px;
    margin-left: 679px;
  }

  .u-section-6 .u-shape-6 {
    margin-top: 471px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1422px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 66px;
    margin-right: 261px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 210px;
    margin-left: 573px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: 6999px;
  }

  .u-section-6 .u-shape-3 {
    height: 331px;
    margin-top: -8679px;
    margin-right: 210px;
  }

  .u-section-6 .u-shape-4 {
    margin-left: 218px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 3902px;
    margin-right: 578px;
    margin-left: 210px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 560px;
    margin-left: 210px;
  }

  .u-section-6 .u-shape-5 {
    margin-top: -3395px;
    margin-left: 439px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -6695px;
    margin-right: 210px;
    margin-left: 578px;
  }

  .u-section-6 .u-shape-6 {
    margin-top: 7022px;
    margin-right: 130px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 427px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1315px;
  }

  .u-section-6 .u-shape-1 {
    margin-right: 351px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 300px;
    margin-left: 483px;
  }

  .u-section-6 .u-shape-3 {
    margin-right: 300px;
  }

  .u-section-6 .u-shape-4 {
    width: 343px;
    margin-left: 300px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 488px;
    margin-left: 300px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 470px;
    margin-left: 300px;
  }

  .u-section-6 .u-shape-5 {
    margin-right: 500px;
    margin-left: auto;
  }

  .u-section-6 .u-text-4 {
    margin-right: 300px;
    margin-left: 488px;
  }

  .u-section-6 .u-shape-6 {
    width: 540px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 320px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1196px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 65px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-6 .u-shape-2 {
    width: 340px;
    margin-top: 6962px;
    margin-right: 0;
  }

  .u-section-6 .u-shape-3 {
    margin-top: -8641px;
    margin-right: 400px;
  }

  .u-section-6 .u-shape-4 {
    height: 197px;
    width: 243px;
    margin-left: 400px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-6 .u-shape-5 {
    margin-right: 400px;
  }

  .u-section-6 .u-text-4 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-6 .u-shape-6 {
    width: 340px;
    margin-top: 6985px;
    margin-left: 400px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 201px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1115px;
}

.u-section-7 .u-shape-1 {
  width: 316px;
  height: 271px;
  margin: 247px 195px 0 auto;
}

.u-section-7 .u-shape-2 {
  width: 301px;
  height: 228px;
  margin: -417px 358px 0 auto;
}

.u-section-7 .u-shape-3 {
  width: 570px;
  height: 228px;
  background-image: none;
  margin: -285px auto 0 66px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -171px 504px 0 66px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -38px 51px 0 828px;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  margin: 9px 0 0 788px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 61px 75px 0 863px;
}

.u-section-7 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 24px 680px 0 151px;
}

.u-section-7 .u-text-6 {
  font-size: 1.25rem;
  margin: -53px 0 0 788px;
}

.u-section-7 .u-text-7 {
  font-size: 1.25rem;
  margin: -130px 529px 0 41px;
}

.u-section-7 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 37px 722px 0 192px;
}

.u-section-7 .u-shape-4 {
  width: 316px;
  height: 271px;
  margin: 177px auto 0 12px;
}

.u-section-7 .u-shape-5 {
  width: 304px;
  height: 267px;
  margin: -319px 171px 0 auto;
}

.u-section-7 .u-text-9 {
  font-size: 1.25rem;
  margin: -388px 529px 0 32px;
}

.u-section-7 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -181px 7px 0 828px;
}

.u-section-7 .u-text-11 {
  font-size: 1.25rem;
  margin: 9px 0 0 788px;
}

.u-section-7 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 63px 29px 0 816px;
}

.u-section-7 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -25px 736px 0 206px;
}

.u-section-7 .u-text-14 {
  font-size: 1.25rem;
  margin: 9px 538px 0 32px;
}

.u-section-7 .u-text-15 {
  font-size: 1.25rem;
  margin: -137px 0 18px 807px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1250px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 470px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -608px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 304px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 679px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 588px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
    margin-left: 738px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 61px;
    margin-right: 580px;
    margin-left: 51px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 588px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-7 .u-text-8 {
    margin-right: 622px;
    margin-left: 92px;
  }

  .u-section-7 .u-shape-4 {
    margin-top: 563px;
  }

  .u-section-7 .u-shape-5 {
    margin-top: -676px;
  }

  .u-section-7 .u-text-9 {
    margin-top: -416px;
    margin-right: 361px;
    margin-left: 0;
  }

  .u-section-7 .u-text-10 {
    margin-right: 0;
    margin-left: 635px;
  }

  .u-section-7 .u-text-11 {
    margin-left: 588px;
  }

  .u-section-7 .u-text-12 {
    margin-right: 0;
    margin-left: 645px;
  }

  .u-section-7 .u-text-13 {
    margin-right: 636px;
    margin-left: 106px;
  }

  .u-section-7 .u-text-14 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-7 .u-text-15 {
    margin-left: 707px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 84px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 459px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 368px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 518px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 411px;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    margin-left: 368px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 150px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 494px;
    margin-left: 0;
  }

  .u-section-7 .u-text-9 {
    margin-right: 141px;
  }

  .u-section-7 .u-text-10 {
    margin-left: 415px;
  }

  .u-section-7 .u-text-11 {
    margin-left: 368px;
  }

  .u-section-7 .u-text-12 {
    margin-left: 425px;
  }

  .u-section-7 .u-text-13 {
    margin-right: 522px;
    margin-left: 0;
  }

  .u-section-7 .u-text-14 {
    margin-right: 150px;
  }

  .u-section-7 .u-text-15 {
    margin-left: 487px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1282px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 502px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -640px;
    margin-right: 239px;
  }

  .u-section-7 .u-shape-3 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 279px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 188px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 338px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 231px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 188px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
  }

  .u-section-7 .u-text-8 {
    margin-right: 314px;
  }

  .u-section-7 .u-shape-4 {
    margin-top: 595px;
  }

  .u-section-7 .u-text-9 {
    margin-top: -448px;
    margin-right: 0;
  }

  .u-section-7 .u-text-10 {
    margin-left: 235px;
  }

  .u-section-7 .u-text-11 {
    margin-left: 188px;
  }

  .u-section-7 .u-text-12 {
    margin-left: 245px;
  }

  .u-section-7 .u-text-13 {
    margin-right: 342px;
  }

  .u-section-7 .u-text-14 {
    margin-right: 0;
  }

  .u-section-7 .u-text-15 {
    margin-left: 307px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: -25px;
    margin-right: 24px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -9px;
    margin-right: 39px;
  }

  .u-section-7 .u-shape-3 {
    width: 340px;
    margin-top: -410px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -142px;
    margin-left: 79px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 313px;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-top: -160px;
    margin-left: 138px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -342px;
    margin-right: 31px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 62px;
    margin-left: 0;
  }

  .u-section-7 .u-text-7 {
    margin-top: -263px;
  }

  .u-section-7 .u-text-8 {
    margin-top: 67px;
    margin-right: 114px;
  }

  .u-section-7 .u-shape-4 {
    margin-top: 531px;
  }

  .u-section-7 .u-shape-5 {
    margin-top: -678px;
    margin-right: 36px;
  }

  .u-section-7 .u-text-9 {
    margin-top: -383px;
  }

  .u-section-7 .u-text-10 {
    margin-top: -684px;
    margin-left: 35px;
  }

  .u-section-7 .u-text-11 {
    margin-top: -89px;
    margin-left: 0;
  }

  .u-section-7 .u-text-12 {
    margin-top: -5px;
    margin-left: 45px;
  }

  .u-section-7 .u-text-13 {
    margin-top: 174px;
    margin-right: 142px;
  }

  .u-section-7 .u-text-15 {
    margin-bottom: 60px;
    margin-left: 107px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 979px;
}

.u-section-8 .u-image-1 {
  width: 770px;
}